{% extends 'mainSite/profile/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<main>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="text-center mb-5"><h1>Отслеживание груза</h1></div>
        
        <form method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="route" placeholder="Введите номер заказа" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Отследить</button>
          </div>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>Номер заказа</th>
              <th>Адрес отправления</th>
              <th>Адрес прибытия</th>
              <th>Статус</th>
              <th>Цена маршрута</th>
              <th>Время транспортировки</th>
              <th>Транспорт</th>
            </tr>
          </thead>
          <tbody>
            {% if order_route %}
            {%for el in order_route %}
            <tr>
              <td><a href="">{{el.order}}</a></td>
              <td>{{el.from_city}} </td>
              <td>{{el.to_city}}</td>
              <td>{{el.route_status}}</td>
              <td>{{el.price}}</td>
              <td>{{el.delivery_time}} </td>
              <td>{{el.transport}}</td>
    
            </tr>
            {%endfor%}
            {% else %}
            <tr>
              <td>Введите номер заказа</td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        </div>

        </div>
      </div>
    </div>
  
  </main>
{% endblock %}
